<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
<meta charset="UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
<link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
<link rel="stylesheet" href="#" th:href="@{/css/ironroller.css}" />
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success"
        th:fragment="header">
        <a class="navbar-brand" href="#" th:href="@{/}">Iron Roller</a>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarControl"
            aria-controls="navbarControlContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarControl">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#"
                    th:href="@{/home}"
                    th:classappend="${#request.getServletPath() == '/home' ? 'active' : ''}"><i
                        class="fas fa-home"></i> Inicio</a></li>
                <li class="nav-item dropdown"><a
                    class="nav-link dropdown-toggle" href="#"
                    id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><i class="fas fa-bars"></i>
                        Menú </a>
                    <div class="dropdown-menu"
                        aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"
                            th:href="@{/factura/upload}"
                            th:classappend="${#request.getServletPath().startsWith('/factura') ? 'active' : ''}"><i
                            class="fas fa-file-invoice"></i> Facturas</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"
                            th:href="@{/contacto}"
                            th:classappend="${#request.getServletPath().startsWith('/contacto') ? 'active' : ''}"><i
                            class="fas fa-at"></i> Contacto</a>
                    </div></li>
            </ul>
        </div>
    </nav>
    <div role="main">
        <div th:include="this :: content"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- <script src="#" th:src="@{/js/magnabyte-connect.js}"></script> -->
    <div th:include="~{this :: scripts} ?: _"></div>
</body>
</html>
