<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="layout/layout :: page">
<head>
<meta charset="UTF-8" />
<title>Contacto</title>
</head>
<body>
	<div th:fragment="content">
		<div class="container pt-3">
            <h2>Contacto</h2>
			<div class="card mt-4">
				<div class="card-header">Información de contacto para soporte</div>
				<div class="card-body">
					<p class="card-text"><i class="fas fa-phone"></i> <a href="tel:55 4367 1100">55-4367-1100</a></p>
					<p class="card-text"><i class="fas fa-envelope"></i> <a href="mailto:omvp29@gmail.com">omvp29@gmail.com</a></p>
				</div>
                <div class="card-footer">&nbsp;</div>
			</div>
		</div>
	</div>
</body>
</html>