<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: page">
<head>
<meta charset="UTF-8" />
<title>Descargar Factura con Addenda</title>
</head>
<body>
    <div th:fragment="content">
        <div class="container pt-3">
            <h2>Descargar factura con addenda</h2>
            <div class="card mt-4">
                <div class="card-header">Descarga</div>
                <div class="card-body">
                    <p class="card-text">
                        La addenda se ha agregado correctamente.
                    </p>
                </div>
                <div class="card-footer text-right">
                    <a href="#" th:href="@{/factura/process-download}" class="btn btn-primary">Descargar Factura</a>
                    <a href="#" th:href="@{/factura/upload}" class="btn btn-primary">Nueva Addenda</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>