<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: page">
<head>
<meta charset="UTF-8" />
<title>Previsualización de Factura</title>
</head>
<body>
    <div th:fragment="content">
        <div class="container pt-3">
            <h2>
                Factura <span class="font-weight-bold" th:text="${comprobante.serie} + '-' + ${comprobante.folio}"></span>
            </h2>
            <div class="card mt-4">
                <form action="/factura/addenda" method="post" th:object="${datosAddenda}">
                    <div class="card-header">Ingrese los datos adicionales para generar la addenda</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="serie">Serie</label> <input type="text" class="form-control" id="serie"
                                    name="serie" th:value="${comprobante.serie}" placeholder="Serie" disabled="disabled">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="folio">Folio</label> <input type="text" class="form-control" id="folio"
                                    name="folio" th:value="${comprobante.folio}" placeholder="Folio" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="total">Total</label> <input type="text" class="form-control" id="total"
                                    name="total" th:value="'$ ' + ${comprobante.total}" placeholder="Total"
                                    disabled="disabled">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="moneda">Moneda</label> <input type="text" class="form-control" id="moneda"
                                    name="moneda" th:value="${comprobante.moneda}" placeholder="Moneda"
                                    disabled="disabled">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="serie">Fecha</label> <input type="text" class="form-control" id="fecha"
                                    name="fecha" th:value="${comprobante.fecha}" placeholder="Fecha" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="rfcReceptor">RFC Receptor</label> <input type="text" class="form-control"
                                    id="rfcReceptor" name="rfcReceptor" th:value="${comprobante.receptor.rfc}"
                                    placeholder="RFC" disabled="disabled">
                            </div>
                            <div class="form-group col-md-8">
                                <label for="nombreReceptor">Nombre Receptor</label> <input type="text"
                                    class="form-control" id="nombreReceptor" name="nombreReceptor"
                                    th:value="${comprobante.receptor.nombre}" placeholder="Nombre" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="numeroAutorizacion">Número de Autorización</label> <input type="text"
                                    class="form-control" id="numeroAutorizacion" name="numeroAutorizacion"
                                    th:field="*{numeroAutorizacion}" placeholder="Número de Autorización"> <small
                                    class="form-text text-danger" th:if="${#fields.hasErrors('numeroAutorizacion')}"
                                    th:errors="*{numeroAutorizacion}">error1</small>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="contactoCompras">Contacto de Compras</label> <input type="text"
                                    class="form-control" id="contactoCompras" name="contactoCompras"
                                    th:field="*{contactoCompras}"
                                    placeholder="Nombre o Departamento del contacto de Compras"> <small
                                    class="form-text text-danger" th:if="${#fields.hasErrors('contactoCompras')}"
                                    th:errors="*{contactoCompras}">error2</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary" type="submit" id="submitAddenda">Generar Addenda</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>