<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: page">
<head>
<meta charset="UTF-8" />
<title>Cargar Factura</title>
</head>
<body>
    <div th:fragment="content">
        <div class="container pt-3">
            <h1>Agregar addenda</h1>
            <div th:if="${message}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="${message}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Seleccione la factura a la que se le agregará la addenda</div>
                <div class="card-body">
                    <form action="/factura/process-upload" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="invoiceFile" name="invoiceFile"
                                    aria-describedby="invoiceFileAddon04"> <label class="custom-file-label"
                                    for="invoiceFile">Seleccionar archivo</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" id="invoiceFileAddon04">Cargar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="scripts">
        <script src="#" th:src="@{/js/factura/factura.js}"></script>
    </div>
</body>
</html>